@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

*
    margin: 0
    padding: 0

img
    width: 100%

html 
    scroll-behavior: smooth

body 
    font-family: $font
    box-sizing: border-box
    @include transition(all 0.7s ease)

// Header

.header

    .bg-light
        background-color: transparent !important

    .logo
        @extend %logo

    .menu
        ul
            li
                a
                    font-weight: bold
                    color: $black !important
                    @include transition(all 1s ease)
                
                    &:hover 
                        @include transition(all 1s ease)
                        text-transform: uppercase
                        letter-spacing: 2px      

            li.active 
                a
                    color: $dark !important

                &:hover
                    color: $black !important

//Header

//Banner

.banner

    .wrapper
        @include respond-to(wide)
            padding: 112px 200px

        @include respond-to(large)
            padding: 112px 150px

        @include respond-to(smallDevices)
            padding: 50px 0

        p 
            text-transform: uppercase
            letter-spacing: 6px

        h1
            @extend %title

            span   
                color: $white

        .button-wrap
            padding: 30px 0 0

            button
                @extend %button

            .number
                @include respond-to(tablets)
                    margin-top: 35px
                    text-align: left !important
                
                @include respond-to(handhelds)
                    margin-top: 35px
                    text-align: left !important

                span
                    text-transform: uppercase
                    letter-spacing: 6px
                    color: $white
                    font-size: 14px

//Banner

// Services

#services
    text-align: center

    .service-bg 
        background-image: url(../../assets/images/plush-design-studio-1195987-unsplash.jpg)
        background-size: cover
        background-attachment: fixed

    .wrapper
        padding: 100px 30px

        @include respond-to(smallDevices)
            padding: 50px 0 !important

    .title 

        h1
            @extend %title
            font-size: 5vw 
            text-align: left

    .icons
        padding: 60px 0 0

        @include respond-to(smallDevices)
            padding: 20px 0 !important

        svg
            font-size: 50px
            margin-bottom: 20px

        p 
            text-align: center
    
    .pulse
        margin: 95px 0 0

        @include respond-to(smallDevices)
            margin: 20px 0 !important

        svg
            font-size: 75px;
            padding: 15px;
            height: 65px;
            border-radius: 78px;
            animation: pulse 2s infinite;

@-webkit-keyframes pulse 
  0% 
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
  
  70% 
    -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0)
  
  100% 
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)


@keyframes pulse 
  0% 
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3)
  
  70% 
    -moz-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0)
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0)
  
  100% 
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)

// Services

// About

#about
    text-align: center
    color: $white

    .overlay 
        position: absolute
        width: 100%
        height: 800px
        background: #000

    .about-bg
        background: $white

        @include respond-to(smallDevices)
            height: auto !important

    .wrapper
        padding: 100px 0 50px

        @include respond-to(smallDevices)
            padding: 50px 0 !important

        .title
            @extend %title
            color: $white

        .sub-title
            @extend %sub-title

        .text
            padding: 40px 0

            p
                font-size: 16px

            .padding-top
                padding-top: 50px

                @include respond-to(handhelds)
                    padding-top: 0px !important

        button
            @extend %button
            background-color: $dark !important
            border: 1px solid $dark !important
            margin-bottom: 50px

            &:hover
                color: $white
  
// About

// Works

#works
    // padding: 25px 0 0px

    .overlay
        position: absolute
        width: 100%
        height: 350px
        margin-top: 100px
        @include transform(translateY(100%))

        @include respond-to(smallDevices)
            margin-top: 60px !important
            height: 100% !important
    
    .bg
        background: $white

    .text   
        padding: 0 30px

        @include respond-to(handhelds)
            padding: 0px !important

        .sub-title
            @extend %sub-title

        .title
            @extend %title

    p
        font-size: 16px
        margin: 20px 30px 40px

        @include respond-to(handhelds)
            margin: 10px 0 !important

    button 
        @extend %button
        margin: 55px 0 30px
        background-color: $dark !important
        border: 1px solid $dark !important

        &:hover
            color: $white !important

// Works

// Contact

#contact

    .bgColor
        padding: 35px 20px 0

        @include respond-to(smallDevices)
            padding: 50px 20px 0

    .logo
        @extend %logo

    p
        padding-top: 20px
        font-size: 16px

    ul
        li
            list-style-type: none

            a
                color: $black
                @include transition(all 0.7s ease)
                font-size: 16px

                &:hover
                    @include transition(all 0.7s ease)
                    letter-spacing: 3px
                    text-decoration: none
                    font-weight: bold

    .footer
        border-top: 1px solid $black
        margin-top: 20px

// Contact

.clr
    color: $brand-color

.bgColor
    background-color: $brand-color

.bodyBG
    background: url('../../assets/images/annie-spratt-695511-unsplash.jpg')
    background-attachment: fixed
    background-size: cover

.bodyColor
    background-color: $black

.boxed-bg
    background: transparent !important
    color: $white

// Color Picker

.color-picker

    .icon
        background: $black
        width: auto
        display: inline-block
        padding: 10px 15px
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        position: fixed
        top: 200px
        left: 0

        svg 
            color: $white

    .main-div
        display: inline-block
        background-color: white
        position: fixed
        top: 0
        left: 0
        padding: 30px 25px
        height: 100vh
        z-index: 1021

        .cancel    
            text-align: right
            margin-bottom: 10px

            svg
                font-size: 40px

        .color  

            label 
                padding-top: 5px

            h3
                font-size: 25px;
                font-family: serif;
                font-style: italic;
                font-weight: bold;
                padding: 20px 0

            input[type="color"]
                float: right
                border: none;
                background: none;
                width: 155px
                height: 36px

        .layout 

            h3
                font-size: 25px
                font-family: serif
                font-style: italic
                font-weight: bold
                padding: 20px 0

            button
                float: right
                background-color: $black
                border-radius: 0px
                width: 155px
                height: 36px

                &:hover
                    border: 1px solid $black
                    background: transparent
                    color: $black

        .text
            p
                position: absolute
                bottom: 0
                left: 15px
                font-size: 14px


// Color Picker
    
// Particle

.wrapper-background 

    position: fixed
    height: 100%
    top: 0
    left: 0
    width: 100%
    z-index: -3
    display: none

    .particles-section 
        position: relative
        z-index: 1
    
// Particle