@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

*
    margin: 0
    padding: 0

img
    width: 100%

html 
    scroll-behavior: smooth

body 
    font-family: $font
    box-sizing: border-box
    @include transition(all 0.7s ease)

// Header

.header

    .bg-light
        background-color: transparent !important

    .logo
        font-weight: bold

        span
            background-color: $black
            padding: 5px 8px
            border-radius: 3px
            font-size: 25px

    .menu
        ul
            li
                a
                    font-weight: bold
                    color: $black !important
                    @include transition(all 1s ease)
                
                    &:hover 
                        @include transition(all 1s ease)
                        text-transform: uppercase
                        letter-spacing: 2px        

//Header

//Banner

.banner

    .wrapper
        @include respond-to(wide)
            padding: 112px 200px

        @include respond-to(large)
            padding: 112px 150px

        @include respond-to(smallDevices)
            padding: 50px 0

        p 
            text-transform: uppercase
            letter-spacing: 6px

        h1
            letter-spacing: 9px
            text-transform: uppercase
            font-size: 7vw
            color: $black

            span   
                color: $white

        .button-wrap
            padding: 30px 0 0

            button
                background-color: $black !important
                border: 1px solid $black !important
                padding: 8px 40px
                font-size: 14px
                letter-spacing: 2px

                &:hover 
                    background-color: transparent !important
                    border: 1px solid $black
                    color: $black

            .number
                @include respond-to(tablets)
                    margin-top: 35px
                    text-align: left !important
                
                @include respond-to(handhelds)
                    margin-top: 35px
                    text-align: left !important

                span
                    text-transform: uppercase
                    letter-spacing: 6px
                    color: $white
                    font-size: 14px

//Banner

.clr
    color: $brand-color

.bgColor
    background-color: $brand-color

.bodyBG
    background: url('../../assets/images/diary.jpg')
    background-attachment: fixed
    background-size: cover

.bodyColor
    background-color: $white

// Color Picker

.color-picker

    .icon
        background: $black
        width: auto
        display: inline-block
        padding: 10px 15px
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        position: fixed
        top: 200px
        left: 0

        svg 
            color: $white

    .main-div
        display: inline-block
        background-color: white
        position: fixed
        top: 0
        left: 0
        padding: 20px 25px
        height: 100vh

        .cancel    
            text-align: right
            margin-bottom: 10px

            svg
                font-size: 35px

        .color  

            label 
                padding-top: 5px

            h3
                font-size: 25px;
                font-family: serif;
                font-style: italic;
                font-weight: bold;
                padding: 20px 0

            input[type="color"]
                float: right
                border: none;
                background: none;
                width: 155px
                height: 36px

        .layout 

            h3
                font-size: 25px
                font-family: serif
                font-style: italic
                font-weight: bold
                padding: 20px 0

            button
                float: right
                background-color: $black
                border-radius: 0px
                width: 155px
                height: 36px

                &:hover
                    border: 1px solid $black
                    background: transparent
                    color: $black


// Color Picker
    
// Particle

.wrapper-background 

    position: fixed
    height: 100%
    top: 0
    left: 0
    width: 100%
    z-index: -3
    display: none

    .particles-section 
        position: relative
        z-index: 1
    
// Particle